*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    background-color:#000000;
}
nav{
    width: 100%;
    height: 90px;
    /* background-color: rgb(213, 89, 89); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#firgure1>img{
    width: 200px;
    height: 100px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
#content{
    width: fit-content;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: lightblue; */
}
#content,i{
    font-size: 15px;
    word-spacing: 2px;
}
#content2{
    width: fit-content;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: lightcoral; */
    margin-top: 8px;
}
#searchIcon{
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    /* background-color: lightcoral; */
}
#content2, .search{
   color: white;
   font-size: 25px;

}
#content2 .text2{
   color: white;
   font-size: 15px;
   opacity: 0.7;
   letter-spacing: 2px;
}
#content2 .text2:hover{
   
   text-decoration: underline;
}
#content2 i:hover{
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(46, 46, 46) ;
}
